body {
  margin: 50px;
}
.container {
  display: flex;
  flex-direction: row; /** row, row-reverse, column, column-reverse**/
  align-items: center;
  text-align: center;
  gap: 10vw;
}
.border {
  border-radius: 20px;
}
.c1 {
  background-color: blueviolet;
  align-items: center;
  width: 10vw;
  height: 10vw;
  order: 2;
}

.c2 {
  background-color: yellow;
  width: 10vw;
  height: 10vw;
  order: 3;
}

.c3 {
  background-color: blue;
  width: 10vw;
  height: 10vw;
}

.c4 {
  background-color: greenyellow;
  width: 10vw;
  height: 10vw;
}

.c5 {
  background-color: crimson;
  width: 10vw;
  height: 10vw;
}
.numero {
  font-size: 5rem;
  font-weight: bold;
  color: white;
}
